# Environment variables
.env
.venv

# Python cache
__pycache__/
*.py[cod]
*$py.class

# State files - все JSON файлы исключены
*.json

# Logs
*.log
logs/

# Backups
backups/

# IDE
.vscode/
.idea/

# Cursor IDE
.cursor/

# SQL files
*.sql
.clinerules/byterover-rules.md
.kilocode/rules/byterover-rules.md
.roo/rules/byterover-rules.md
.windsurf/rules/byterover-rules.md
.cursor/rules/byterover-rules.mdc
.kiro/steering/byterover-rules.md
.qoder/rules/byterover-rules.md
.augment/rules/byterover-rules.md